.home-section{
    margin-left: 240px;
}
button{
    border:none;
    background-color:transparent;
    cursor: pointer;
    color:var(--gray-2);
}
.home{
    margin-top : 38px;
    margin-left : 60px;
    margin-right : 60px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid #EFF3F4;
    border-radius: 15px;
}
.header-container{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.header-container .alarm-button{
    margin-left: auto;
    width: 45px;
}
.header{
    display: flex;
    flex-direction: column;
}
.header-hello{
    white-space: nowrap;
    display: flex;
    gap:20px;
}
.mention{
    font-weight: bold;
    font-size:32px;
}
.sub-mention{
    color: var(--gray-2);
    font-size: 20px;
    text-align: left;
}
.schedule-mission{
    display: flex;
    gap:51px;
    margin-bottom: 48px;
}
.title{
    font-weight: bold;
    font-size:24px;
}
.schedule{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.schedule-header{
    display: flex;
    gap : 15px;
    align-items: center;
}
.schedule-box{
    gap:50px;
    padding: 40px 25px;
}
.schedule-box p{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.schedule-box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.schedule-box button{
    font-size: 16px;
    border:none;
    margin-left: auto;
}
.schedule-box-calender{
    display: flex;
    gap:16px;
}
.schedule-box-calender .day{
    height: 90px;
    width: 80px;
    border-radius: 15px;
    padding:11px;
    border: 2px solid var(--gray-2);
    background-color: #F8FAFC;
}
.schedule-box-calender .day p{
    font-size: 16px;
    color:var(--gray-2);
}
.no-schedule-message{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.no-schedule-message .no-schedule-message-1{
    font-size: 20px;
}
.no-schedule-message .no-schedule-message-2{
    font-size: 16px;
    font-weight: 400;
    color:var(--gray-2);
}
.mission-container{
    flex:1;
}
.mission{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.mission-box{
    padding: 28px 25px;
}
.mission-box-content{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.todo{
    border-radius: 20px;
    border: 2px solid #EFF3F4;
    padding: 12px 15px;
    display: flex;
    gap:15px;
}
.news-header{
    display: flex;
    gap:15px;
    align-items: center;
}
.news-box{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.news-box button{
    font-size: 20px;
    margin-left: auto;
}
.news-card-box{
    display: flex;
    gap:18px;
}
.news-card{
    padding:15px;
}
.news-card img{
    border-radius: 15px;
    width: 242px;
}