@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v32/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
}

:root {
  --black: #2d2d2d;
  --white: #FFFFFF;
  --nav-1: #EA63F1;
  --nav-2: #F8F1F9;
  --outline-3: #EFF3F4;
  --lightMode-background: #FAFAFA;
  --gray-1: #7E7E7E;
  --button-3: #616FF4;
  --light-gray: #F8FAFC;
  --gray-2: #9DABBE;
  --red: #FF4D4D;
}

* {
  color: var(--black);
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 480px;
  min-height: 700px;
  height: 700px;
  background-color: white;
  justify-content: center;
  
}

.upupup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  margin-top: -20px;
  margin-bottom: -20px;
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  color: var(--gray-1);
  font-weight: 400;
}

body {
  overflow-y: hidden;
  background-color: var(--lightMode-background);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#userid {
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 38px;
  outline: 2px solid var(--outline-3);
  border: none;
}

/* ::placeholder{
  padding-left: 15px;
} */
.doublecheck {
  cursor:pointer;
  border: none;
  border-radius: 60px;
  width: 21%;
  height: 40px;
  /* outline: 2px solid var(--button-3); */
  margin-left: 10px;
  background-color: var(--button-3);
  color: var(--white);
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;;
}
.idDoubleCheck{
  display: flex;
  align-items: center;
}
.ididid {
  font-weight: bold;
  font-size: 16px;
  display: block;
}
.signupForm{
  width: 80%;
}

#password {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 89%;
  height: 38px;
  border: none;
  outline: 2px solid var(--outline-3);
}

#password2{
  border-radius: 20px;
  width: 89%;
  height: 38px;
  border: none;
  outline: 2px solid var(--outline-3);
}

#confirmpw {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 89%;
  height: 38px;
  outline: 2px solid var(--outline-3);
  border: none;
}



.start {
  border-radius: 20px;
  margin-top: 10px;
  width: 89%;
  height: 38px;
  outline: 2px solid var(--outline-3);
  border: none;
  background-color: var(--light-gray);
  color: var(--gray-2);
}

a {
  color: var(--nav-1);
}

input {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100px;
}

form:valid .start {
  background: linear-gradient(90deg, #DB39CB, #2974C4);
  color: white;
}

#userid2 {
  border-radius: 20px;
  width: 89%;
  height: 38px;
  outline: 2px solid var(--outline-3);
  border: none;
}

p {
  text-align: center;
  font-size: 12px;
}

.setError {
  text-align: left;
}

.errorMsg {
  margin-top: 4px;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
  color: var(--red);

}